include LICENSE
include README.md
include CHANGELOG.md
include NOTICE
include SECURITY.md
recursive-include app *
recursive-include alembic *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude .git *
